@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Language selection dropdown */
.languageSection {
  @apply mb-5 w-full max-w-sm ;
}

.langSelctor {
  @apply bg-gray-300 w-full p-2 border border-gray-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400;
}   