@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Whole page layout */
.container {
  @apply bg-[#333233] flex flex-col items-center justify-center min-h-screen min-w-full w-full;
}

/* Title (first row) */
.headingBar {
  @apply text-3xl font-bold text-[#1ec7be] mb-10;
}

/* 2nd row: horizontal layout for left, arrow, right */
.contentRow {
  @apply flex flex-row justify-center gap-6 w-full sm:flex-row md:flex-row md:justify-center ;
}

/* Sidebars and arrow cards */
.leftSideBar,
.rightSideBar {
  @apply  flex flex-col bg-[#6b6b6b] p-3 rounded-2xl shadow-md ;
}

/* Specific widths */
.leftSideBar,
.rightSideBar {
  @apply  w-full max-w-sm;
}


/* Arrow image container */
.swapArrow {
  @apply flex justify-center items-center;
}

/* Default image styles */
.swapArrow img {
  @apply w-10 h-10 cursor-pointer transition-transform duration-300 hover:scale-110;
}

/* Rotated state (applied when clicked) */
.rotated {
  @apply rotate-180;
}

/*-------------------------------------------------------*/


/* Text areas inside sidebars */
@layer components {
  .textArea {
    @apply bg-gray-200/80 w-full h-70 p-4 border border-gray-300 rounded-lg resize-none focus:outline-none focus:ring-2 focus:ring-blue-400;
  }

  .textArea[readonly] {
    @apply bg-gray-300 cursor-default text-gray-800 focus:ring-0;
  }
}

